/* === UTILITY === */
.font-robo {
    font-family: 'Roboto', sans-serif;
}
.font-pop {
    font-family: 'Poppins', sans-serif;
}
.color-primary {
    color: #D3E8D6;
}
.color-secondary {
    color: #8AAB8F;
}
.text-h {
    color: #242E25;
}
.text-p {
    color: #3B513B;
}
.text-64 {
    font-size: 64px;
}
.fw-500 {
    font-weight: 500;
}
/* === UTILITY END === */

* {
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #3B513B;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h5 {
    font-size: 18px;
}

ul li,
ul li a {
    font-family: 'Roboto', sans-serif;
    color: #3B513B;
}


/* === HEADER === */
nav.navbar {
    background-color:  #D3E8D6;
    padding: 30px 0;
    transition: .3s;
}

nav.navbar.scrolled {
    padding: 10px;
    box-shadow: 0 -3px 25px rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
    width: 120px;
}
.nav-link.active{
    position: relative;
    color: #739b79 !important;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    height: 3px;
    width: 0px;
    background-color: #8AAB8F;
    transition: .3s;
    width: 100%;
}

header {
    margin-bottom: 500px;
}

.hero {
    padding-top: 150px;
    background-color: #D3E8D6;
    margin-bottom: -100px;
}

.hero h1 {
    color: #242E25;
    font-size: 80px;
}

.hero .my-btn {
    background-color: #D3E8D6;
    border: 2px solid #8AAB8F;
    box-shadow: 5px 5px #8AAB8F;
    display: inline-block !important;
    color: #242E25;
    text-decoration: none;
    transition: .4s;
}

.hero .my-btn:hover {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px #8AAB8F;
}

.hero .hero-img {
    margin-top: -15%;
    transform: translateY(50%);
    width: 100%;
}
#char-1 {
    animation: jumping-1 1s infinite alternate-reverse;
}
#char-2 {
    animation: jumping-1 1s infinite alternate-reverse;
    animation-delay: .5s;
}
#char-3 {
    animation: jumping-1 1s infinite alternate-reverse;
    animation-delay: .3s;
}
#char-4 {
    animation: jumping-2 1s infinite alternate-reverse;
    animation-delay: .5s;
}
/* === HEADER END === */

.section-2 {
    /* margin-bottom: 20px; */
    padding: 92px 0;
}

#right-hand {
    animation: say-hai .7s infinite alternate-reverse;
    transform-origin: bottom;
    transform-box: fill-box;
}

/* === SECTION 3 === */
#ciri-ciri {
    padding-top: 55px;
}
.section-3 {
    background-color: #D3E8D6;
    padding: 92px 0;
}

.section-3 .box {
    height: 100%;
}

.section-3 ul li {
    line-height: 30px;
}

.section-3 .green-box ul li {
    color: white;
}

.green-box {
    background-color: #8AAB8F;
    border: 2px solid #fff;
    box-shadow: 5px 5px #fff;
    height: 100%;
}

.white-box {
    background-color: #fff;
    border: 2px solid #8AAB8F;
    box-shadow: 5px 5px #8AAB8F;
}
/* === SECTION 3 END === */

/* === SECTION 4 === */
.section-4 {
    margin-top: 50px;
    padding: 92px 0;
}
.section-4 .small {
    margin-top: 2rem;
}
/* === SECTION 4 END === */

/* === SECTION 5 === */
.section-5 {
    padding-top: 92px;
    padding-bottom: 40px;
}
.accordion-item {
    border-radius: 0 !important;
    background-color: #F3F9F4;
    border: none;
    margin: 20px 0;
}

.accordion-item,
.accordion-button {
    border-radius: 0 !important;
}
.accordion-button {
    background-color: #F3F9F4;
    position: relative;
}

.accordion-button:not(.collapsed) {
    background-color: #8AAB8F;
    color: #FFFFFF;
}

.accordion-button::after {
    display: none;
}

.accordion-button::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 12px;
    background-color: #8AAB8F;
    z-index: 1;
    left: 0;
}

.collapse-btn {
    margin-left: auto;
    padding: 10px;
    background-color: #8AAB8F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-button:not(.collapsed) .collapse-btn {
    background-color: #FFF;
}
.accordion-button:not(.collapsed) .collapse-btn #horizontal-line {
    fill: #8AAB8F;
}
/* === SECTION 5 END === */

/* === SECTION 6 === */
.section-6 {
    padding: 92px 0;
}

.section-6 h2 {
    margin-bottom: 40px;
}

.section-6 .box {
    background-image: url(../img/section-6.svg);
    background-position: top right;
    height: 310px;
    width: 310px;
}

.section-6 .box-down {
    margin-top: 100px;
}

.section-6 .nomor {
    color: #8AAB8F;
    float: right;
    margin-right: 5px;
}

.section-6 h3 {
    color: #fff;
}
/* === SECTION 6 END === */

/* === SECTION LAST === */
.section-last {
    padding: 92px 0;
    margin-bottom: 150px;
}

.section-last .container {
    padding: 70px 24px 0;
    background-color: #D3E8D6;
}

.pb-6 {
    padding-bottom: 70px;
}

.section-last h2 {
    margin-bottom: 30px;
}

.img-last-section {
    position: relative;
}

.img-last-section img {
    position: absolute;
    bottom: 0;
}

/* === SECTION LAST END === */

/* === FOOTER === */
footer {
    background-color: #D3E8D6;  
    padding-top: 70px;
}

footer ul li {
    padding-bottom: 8px;
}

footer ul li a{
    white-space: -moz-pre-wrap !important;
    white-space: -webkit-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.copyright-label {
    margin-top: 60px;
    background-color: #8AAB8F;
    padding: 15px 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}
/* === FOOTER END === */

/* BREAKPOINT */
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    header {
        margin-bottom: 350px;
    }
    .section-last .row {
        justify-content: center !important;
    }
    .img-last-section {
        margin-top: 350px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .hero h1 {
        color: #242E25;
        font-size: 50px;
    }

    .section-6 .box-down {
        margin-top: 25px;
        /* margin: 10px 0; */
    }

    footer img {
        padding-right: 30%;
    }
}

@keyframes jumping-1 {
    from{
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes jumping-2 {
    from{
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}
@keyframes say-hai {
    from {
        transform: rotate(-6deg);
    }
    to {
        transform: rotate(4deg);
    }
}